@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, rgb(16, 39, 107) 0, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(31, 168, 150) 0, transparent 50%);
}

.gradient-bg-services {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: 
    radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#a099ff;
  background-image: 
    radial-gradient(at 83% 67%, rgb(76, 172, 164) 0, transparent 58%), 
    radial-gradient(at 67% 20%, rgb(221, 85, 92) 0, transparent 59%), 
    radial-gradient(at 88% 35%, rgb(45, 84, 175) 0, transparent 50%), 
    radial-gradient(at 31% 91%, rgb(168, 87, 73) 0, transparent 52%), 
    radial-gradient(at 27% 71%, rgb(219, 79, 135) 0, transparent 49%), 
    radial-gradient(at 74% 89%, rgb(202, 136, 71) 0, transparent 51%), 
    radial-gradient(at 53% 75%, rgb(98, 77, 189) 0, transparent 45%);
}

.eth-card-2 {
background-image:#beff99;
background-image:  
radial-gradient(at 31% 61%, hsla(233,62%,75%,1) 0, transparent 53%),  
radial-gradient(at 73% 78%, hsla(57,77%,68%,1) 0, transparent 54%),  
radial-gradient(at 94% 52%, hsla(84,69%,67%,1) 0, transparent 49%),  
radial-gradient(at 98% 1%, hsla(270,60%,62%,1) 0, transparent 59%),  
radial-gradient(at 93% 42%, hsla(351,62%,66%,1) 0, transparent 43%),  
radial-gradient(at 38% 15%, hsla(210,92%,60%,1) 0, transparent 50%),  
radial-gradient(at 7% 30%, hsla(160,82%,61%,1) 0, transparent 44%);

}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;